.App {
  text-align: center;
  height: 100vh;
  background: rgb(237,150,28);
  background: linear-gradient(129deg, rgba(237,150,28,1) 0%, rgba(235,231,112,1) 30%, rgba(250,250,211,1) 61%, rgba(246,246,227,1) 78%, rgba(255,255,255,1) 100%);
}

body {
  font-family: 'Quicksand', sans-serif;
}

h2 {
  margin-top: 0;
  padding: 3% 0 0 0;
  letter-spacing: 0.05em;
  font-family: 'Permanent Marker', cursive;
}

input[type=email], input[type=password] {
  width: 35%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  margin: 1%;
  padding: 2%;
  letter-spacing: 0.1em;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif ;
}

input[type=text] {
  width: 35%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  margin-right: 2%;
  padding: 2%;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-family: 'Quicksand', sans-serif ;
}

input[type=submit] {
  padding: 2% 1%;
  border: 1px solid rgb(237,150,28);
  border-radius: 0.3rem;
  color: #fff;
  background-color:rgb(237,150,28);
  letter-spacing: 0.15em;
  font-weight: 400;
  font-size: 1em;
  margin-top: 2%;
  font-family: 'Quicksand', sans-serif ;
}

input[type=submit]:hover {
  cursor: pointer;
}

.register-page, .login-page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

input[type=email], input[type=password] {
  width: 42vw;
  align-self: center;
  letter-spacing: 0.15em;
  font-family: 'Quicksand', sans-serif ;
}

.register-page> input[type=submit], .login-page > input[type=submit] {
  width: 22vw;
  align-self: center;
  font-family: 'Quicksand', sans-serif ;
}

.links {
  letter-spacing: 0.05em;
  color: rgb(28, 196, 247);
  text-decoration: solid;
}

.links:hover {
  text-decoration: underline;
}

.error-message {
  color: rgb(230, 13, 13);
  letter-spacing: 0.05em;
}

header {
  padding-bottom: 3%;
}

.header-todos {
  display: flex;
  justify-content: space-evenly;
}

.todo-add {
  background-color: transparent;
  box-sizing: border-box;
}

.todos-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

li {
  text-align: left;
  font-size: smaller;
  margin-top: 2%;
  margin-left: 21%;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  padding: 3.5%;
  width: 40vw;
  background-color: rgb(252, 252, 237);
}

.logout-button {
  border: transparent;
  background-color: transparent;
  /*color: rgb(24, 131, 104);*/
}

.logout-button:hover {
  cursor: pointer;
}

li {
 display: flex;
 justify-content: space-between;
 padding-left: 2%;
 letter-spacing: 0.05em;
 font-size: 1em;
}

.delete-todo {
  border: none;
  color: rgb(237,150,28);
  font-weight: 900;
  font-size: 1em;
  background-color: rgb(252, 252, 237);
}

.delete-todo:hover {
  cursor: pointer;
  color: rgb(231, 79, 79);
}